<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.xmu.software.truckrent">

    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".LocationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- begin: baidu speech sdk -->
        <!--
            离线功能指南：
            1. 在百度语音开放平台注册应用，http://yuyin.baidu.com/app
            2. 为您的应用的“申请离线授权页面”，填写程序包名
            3. 在当前应用的AndroidManifest.xml中填写相应的APP_ID（或在代码中设置appid参数）
            4. 根据场景下载并集成相应的资源，见http://yuyin.baidu.com/docs/asr/131和http://yuyin.baidu.com/asr/download

            另外需要注意的是离线功能只是在线功能的“增强”，不能永久不联网使用（特别是首次使用）。
        -->
        <!--
    请填写真实的APP_ID API_KEY SECRET_KEY
         App ID: 8747484

    API Key: iWqpLE9kWQ3xfT1UmWFdSXxM

    Secret Key: 4c951ce74b8c8d4e43db4692a4bfabfe
        -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="8747484" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="iWqpLE9kWQ3xfT1UmWFdSXxM" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="4c951ce74b8c8d4e43db4692a4bfabfe" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- end : baidu speech sdk -->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="SqyS2YGbcN3xXzlcRSlfRtDyBQO4MA8G" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".LocActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".login.RegisterActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".MapActivity" />
        <activity
            android:name=".recognition.Main2Activity"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">

        </activity>
        <service
            android:name=".recognition.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".recognition.ActivityWakeUp" />
        <activity android:name=".recognition.Main3Activity" />
        <activity android:name=".recognition.HiActivity" />

        <activity
            android:name=".recognition.ActivityOffline"
            android:label="离线语法"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".recognition.ApiActivity"
            android:label="普通模式(API方式和UI方式)"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".recognition.Setting"
            android:label="设置"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.speech.asr.demo.setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <uses-library android:name="android.test.runner" />

    </application>

</manifest>